html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/bootstrap.css')
    title BASI Manual

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          .navbar-toggle.collapsed.button(type='button' data-toggle='collapse' data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
              img(src='logo-small.png' style='height: 36px; margin-left: -7; margin-top: -7;')
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href='#') Home
            li: a(href='#about') About
            li: a(href='#contact') Contact

    .container(style='padding: 40px 15px;')
      block content
